
<div class="m-3">
  <ul style="list-style-type: none;"><% @articles.each do |article| %>
      <div class="py-2">
        <li><%= link_to article.title.capitalize, article_path(article.id), class: "text-decoration-none title-index" %></li>
        <li class="subtext-index"><%= article.content.capitalize %></li>
      </div>
    <% end %>
  </ul>
</div>
